.sidebar {
  width: 80px;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;

  padding-top: 16px;

  background: linear-gradient(180deg, #111c33, #0f172a);
  border-right: 1px solid #1e293b;
}

/* BUTTON BASE */
.item {
  width: 52px;
  height: 52px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 14px;

  background: #0f172a;
  border: 1px solid #1e293b;

  color: #cbd5e1;
  font-size: 12px;
  font-weight: 600;

  cursor: pointer;

  transition: all 0.2s ease;

  user-select: none;
}

/* HOVER */
.item:hover {
  background: #111c33;
  border-color: #334155;
  transform: translateY(-1px);
  color: white;
}

/* ACTIVE STATE */
.active {
  background: linear-gradient(135deg, #6366f1, #7c3aed);
  border-color: #8b5cf6;
  color: white;

  box-shadow: 0 0 18px rgba(99, 102, 241, 0.4);
}

